.dub
docs.json
__dummy.html
docs/
/d-glfw-opengl-project-template
d-glfw-opengl-project-template.so
d-glfw-opengl-project-template.dylib
d-glfw-opengl-project-template.dll
d-glfw-opengl-project-template.a
d-glfw-opengl-project-template.lib
d-glfw-opengl-project-template-test-*
*.exe
*.o
*.obj
*.lst
bin/
lib/
